<a href="https://colab.research.google.com/github/wooookim/GoogleCloud_AI/blob/main/0104(pandas_%EC%8B%A4%EC%8A%B5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 문제

* 다음과 같은 두 데이터 집합이 있습니다.

In [1]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

In [2]:
strength_levels = (100, 120, 90, 95, 110, 120)

* 다음 태스크를 수행하세요

In [8]:
# superheroes 를 Series 객체로 생성
import pandas as pd

val = pd.Series(superheroes)
val

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [ ]:
# strenth_levels를 Series 객체로 생성

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [9]:
# strenth_levels를 Series 객체로 생성
idx = pd.Series(strength_levels)
idx

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [ ]:
# superheroes를 인덱스 레이블로, strengh_levels를 값으로 하여 Series 객체를 생성

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [13]:
# superheroes를 인덱스 레이블로, strengh_levels를 값으로 하여 Series 객체를 생성
pd.Series(idx.values, index = val)

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
# heroes Series의 처음 2행을 추출

Batman      100
Superman    120
dtype: int64

In [15]:
# heroes Series의 처음 2행을 추출
pd.Series(idx.values, index = val)[:2]

Batman      100
Superman    120
dtype: int64

In [ ]:
# heroes Series의 마지막 4개 행 추출

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [18]:
# heroes Series의 마지막 4개 행 추출
pd.Series(idx.values, index = val)[-4:]

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
# heroes Series의 고유한 값의 개수를 추출

5

In [23]:
# heroes Series의 고유한 값의 개수를 추출
pd.Series(idx.values, index = val).unique()

array([100, 120,  90,  95, 110])

In [ ]:
# heroes의 평균 능력치 추출

105.83333333333333

In [24]:
# heroes의 평균 능력치 추출
pd.Series(idx.values, index = val).mean()

105.83333333333333

In [ ]:
# heroes의 최대 능력치 추출

120

In [25]:
# heroes의 최대 능력치 추출
pd.Series(idx.values, index = val).max()

120

In [ ]:
# heroes의 최소 능력치 추출

90

In [26]:
# heroes의 최소 능력치 추출
pd.Series(idx.values, index = val).min()

90

In [ ]:
# 각 herores의 능력치가 2배가 얼마인지 추출

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [27]:
# 각 herores의 능력치가 2배가 얼마인지 추출
pd.Series(idx.values, index = val) * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [ ]:
# heroes 정보를 파이썬 딕셔너리로 변경해서 추출

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

In [29]:
# heroes 정보를 파이썬 딕셔너리로 변경해서 추출
dict(pd.Series(idx.values, index = val))

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}